*{
    box-sizing: border-box;
    margin: 0px;
    top: 0px;

}

body{
    background-color: darkcyan;

}

main{
    background-color: cadetblue;
}

div{
    background-color:darkgray;
    margin: 10px 50px 1px 250px;
    border-radius: 10px;

}






